.espacio-info{
	margin-right: 1em;
}

.tamanito{
	height: 1.5em;
	background-color: rgb(178,255,89);
	margin-bottom: 2em;
	color: black;
	text-align: right;
}
.tamanito > .texto_tamanito{
	font-size: 1.1em;
}
#resultadoBusqueda{
	width: 100%;
	text-align: center;
	color: green;
	animation-fill-mode: forwards;
}