.mdl-layout{
	align-items: center;
	height: 100%;
}
form .mdl-textfield{
	display: block;
}
.mdl-card{
	max-width: 600px;
}
.mdl-card__media>img{
	width: 100%;
}
.mdl-card__actions{
	display: flex;
	align-items: center;
}
/*          CARD VIEWS    */
/*--------------------------Welcome target--------------------------------*/
.demo-card-wide.mdl-card { width: 30em; } .demo-card-wide > .mdl-card__title { color: #fff; height: 176px; background: url('../assets/welcome_card.jpg ') center / cover; } .demo-card-wide > .mdl-card__menu { color: #fff; }

/*---------------------------Squere Card-----------------------------------*/
.demo-card-square.mdl-card { width: 320px; height: 320px; } .demo-card-square > .mdl-card__title { color: #fff; background: url('assets/dog.png') bottom right 15% no-repeat #46B6AC; }

/*-------------------------Transparent titles------------------------------*/
.demo-card-image.mdl-card { width: 256px; height: 256px; background: url('../assets/image_card.jpg') center / cover; } .demo-card-image > .mdl-card__actions { height: 52px; padding: 16px; background: rgba(0, 0, 0, 0.2); } .demo-card-image__filename { color: #fff; font-size: 14px; font-weight: 500; }

/*-------------------------------Event card---------------------------------*/
.demo-card-event.mdl-card { width: 256px; height: 256px; background: #3E4EB8; } .demo-card-event > .mdl-card__actions { border-color: rgba(255, 255, 255, 0.2); } .demo-card-event > .mdl-card__title { align-items: flex-start; } .demo-card-event > .mdl-card__title > h4 { margin-top: 0; } .demo-card-event > .mdl-card__actions { display: flex; box-sizing:border-box; align-items: center; } .demo-card-event > .mdl-card__actions > .material-icons { padding-right: 10px; } .demo-card-event > .mdl-card__title, .demo-card-event > .mdl-card__actions, .demo-card-event > .mdl-card__actions > .mdl-button { color: #fff; }

.espacios{
	margin-right: 1em;
	margin-bottom: 1em;
}
.mdl-card-center{
	justify-content: center;	
}