
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.navbar{
	margin-bottom: 0px !important;
}

.no-margin{
	margin: 0px !important;
}


.no-padding{
	padding: 0px !important;
}


.big-padding{
	padding: 30px;
}

.no-transform{
	text-transform: none !important; 
}


.blue-grey{
	background-color: #37474f;
}


.white{
	background-color: white;
}


.white-text{
	color: white;
}


.inline-block{
	display: inline-block !important;
}


.table{
	background-color: white;
}


.absolute{
	position: absolute;
}

.floating{
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
	.medium-text{
		font-size: 1.2em;
	}
}

.red-text{
	color: rgb(200,50,50) !important;
}


.product{
	width: 600px !important;
	max-width: 100% !important;
	padding: 1em !important;
	position: relative !important;

	h1{
		padding-bottom: 10px;
		border-bottom: solid 1px !important;

	}

	.actions{
		right: 1em;
		top: 10px;
	}

}

.abajo{
	margin-top: 2em;
}
